<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class='navbar-brand page-scroll' href='/'>
              <span style='font-family:"Open Sans" font-weight:300'>{{ site.name }}</span>
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                      {% for nav in site.nav %}
                      <li><a class='name' href="{{ nav.href }}">{{ nav.name }}</a></li>
                      {% endfor %}
                    </ul>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
	{% if page.layout == 'post' %}
    {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% endif %}
    {% if  page.layout != 'post' %}
    {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% endif %}
    {% if posts.size > 1 %}
 
    <div class="header__langs">
      {% for post in posts %}
      {% if post.lang != page.lang %}
      <a href="{{ site.base-url }}{{ post.url }}" class="header__lang header__lang-{{ post.lang }} title=" View in
        {{post.lang}}" data-lang={{ post.lang }}></a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

        </div>
        <!-- /.container-fluid -->
</nav>
