---
layout: default
---
<div class="container content page">
{% assign people_sorted = site.people | sort: 'when' | where: 'lang', page.lang %}
{% assign role_array = "pi|researchstaff|postdoc|gradstudent|undergrad|visiting|others|alumni" | split: "|" %}
{% for role in role_array %}
	{% assign people_in_role = people_sorted | where: 'position', role %}
	{% if people_in_role.size == 0 and role != 'alumni'%}
		{% continue %}
	{% endif %}
  <h3 class="pos-header">{{ page.role_tags[role] }}</h3>
  {% if role != 'alumni' %}
  <div class="content list people">
    {% for profile in people_in_role %}
    <div class="list-item-people">
      <p class="list-post-title">
		{% assign avatar_path = profile.id | replace_first: profile.lang, "images" | replace_first: site.lang_teamnames[profile.lang], "people" | append: ".jpg" %}
		{% assign avatar_file = site.static_files | where: "path", avatar_path  %}
        {% if avatar_file.size == 0 %}
			{% assign avatar_path = "/images/people/empty.jpg" %}
        {% endif %}
          <a href="{{ site.baseurl }}{{ profile.url }}"><img class="profile-thumbnail" src="{{site.baseurl}}{{avatar_path}}"></a>
        <a class="name" href="{{ site.baseurl }}{{ profile.url }}">{{ profile.name }}</a>
      </p>
    </div>    
    {% endfor %}
  </div>    
  <hr>
  {% else %}
    <table>
      <thead>
        <tr>
          <th>{{ page.aheader.name }}</th>
          <th>{{ page.aheader.description }}</th>
          <th>{{ page.aheader.where }}</th>
        </tr>
      </thead>
      <tbody>
        {% assign people_in_role_reversed = people_in_role | reverse %}
        {% for profile in people_in_role_reversed %}
        <tr>
          <td><a class="name" href="{{ site.baseurl }}{{ profile.url }}">{{ profile.name }}</a></td>
          <td>{{ profile.description }} {{ profile.when }}</td>
          <td>{{ profile.where }}</td>
        </tr>
        {% endfor %}
        <tr><td>Eduardo Honeyman</td><td>IPre 2024-2</td><td></td></tr>
	<tr><td>Nicolas Peschke</td><td>International visiting scientist 2024-1</td><td></td></tr>
        <tr><td>Juan Domingo Veloso</td><td>IPre 2024-1</td><td></td></tr>
        <tr><td>Rafael Kaempfer</td><td>Research 2023-2024</td><td></td></tr>
	<tr><td>Lennart Greifenhain</td><td>International visiting scientist 2023-2</td><td></td></tr>
	<tr><td>Inga Enders</td><td>International visiting scientist 2023-1</td><td></td></tr>
        <tr><td>Martín Santiago Pérez</td><td>IPre 2023-1+2</td><td></td></tr>
        <tr><td>Liliana Belen Peña</td><td>IPre 2023-1</td><td></td></tr>
        <tr><td>Pablo Ignacio Caballero</td><td>IPre 2023-1</td><td></td></tr>
        <tr><td>Josefa Oddo Cortes</td><td>IPre 2022-2</td><td></td></tr>
        <tr><td>Kieran Conradie</td><td>IPre 2022-2</td><td></td></tr>
        <tr><td>Federico Taunton Muzio</td><td>IPre 2022-1</td><td></td></tr>
        <tr><td>Niki Hamidi-Vadeghani</td><td>IPre 2021-2</td><td></td></tr>
        <tr><td>Allison Meynhard</td><td>Undergrad research 2021-2023</td><td></td></tr>
        {% comment %}
        <tr><td>Niki Hamidi-Vadeghani</td><td>IPre 2021-2</td><td></td></tr>
        {% endcomment %}
      </tbody>
    </table>

  {% endif %}
{% endfor %}

{{ content }}

</div>
